body{
	background-color: #33ccff;
	margin-left: 25px;
	margin-top: 15px
}
h1{
	font-size: 45px;
}
h5{
	font-size: 20px;
}
h4{
	font-size: 30px;
	font-style: italic;
}
#center{
    text-align: center;
}